.username input {
	width: 75%;
}

.list-group-item {
	padding: 3px
}

.username-field {
	margin-right: 10px
}

.diary {
	margin-top: 10px
}

.carbs {
	color: #0088cc;
}

.fat {
	color: #e60000;
}

.protein {
	color: #ffcc00;
}

.recharts-wrapper {
	margin: 0 auto;
}

