body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
	max-width: 100%; padding: 0;
}

.sub-container {
	max-width: 1080px;
	padding-left: 5px;
	padding-right: 5px
}
.banner {
	background-color: #c7c7c7;
	margin: 0;
}

.username-field {
	position: sticky;
	top: 0px;
	z-index: 1;
	padding: 8px 10px;
}

.list-group-item {
	padding: 3px
}

.diary {
	margin-top: 10px
}

.carbs {
	color: #0088cc;
}

.fat {
	color: #e60000;
}

.protein {
	color: #ffcc00;
}

.recharts-wrapper {
	margin: 0 auto;
}

